extends layout
//StartPage Content
block content
    div#startScreen.basicDiv
        h2 The BoringGame
        div#btnCont
            button#btnGame.defaultBtn(onclick="changeWindows('gameWindow');draw();") Start the BoringGame
            button#btnTable.defaultBtn(onclick="changeWindows('tableDB');populateTable();") Show all BoringPlayers
    div#gameWindow.basicDiv
        button#btnBack.defaultBtn(onclick="changeWindows('startScreen');stopRequest();") Go back to BoringScreen
        canvas#myCanvas.basicDiv(width="480" height="320")
    div#tableDB.basicDiv
        button#btnBack2.defaultBtn(onclick="changeWindows('startScreen');") Go back to BoringScreen
        h2#tableTitle Ranking
        table.table-fill#tableRank
            thead#dataHead
                tr
                    th.text-left
                        p Name
                    th.text-left
                        p Score
                    th.text-left
                        p Lives
            tbody.table-hover

