doctype html
html
    head
        title= 'TheBoringGame'
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='shortcut icon',type='img/png', href='/images/favicon.ico')
    body
        block content
        script(src='/javascripts/game.js')
        script(src='/javascripts/layout.js')
        script(src='/javascripts/ioMongo.js')
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
        script(src="https://unpkg.com/sweetalert/dist/sweetalert.min.js")

