/*--------------------------------- General HTML ELement Style START------------------------------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

body {
    font-family: "Roboto", helvetica, arial, sans-serif;
}

canvas {
    width: 60%;
    height: 60%;
    left: 50%;
    right: -50%;
    background-color: #C1C3D1 !important;
}

h2 {
    color: black;
    font-family: Helvetica, Arial, sans-serif !important;
    font-size: 4em !important;
    font-weight: lighter;
    margin: 0;
    position: relative;
    display: block;
    text-align: center;
}

#tableTitle {
    margin-top: 5% !important;
    margin-bottom: 5% !important;
}

/*--------------------------------- General HTML ELement Style START------------------------------------------------------*/

/*--------------------------------- DIV Style START------------------------------------------------------*/
.basicDiv {
    background: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    right: -50%;
    transform: translate(-50%, -50%);
}

#startScreen {
    float: left;
    width: 100%;
    height: 60%;
    text-align: center;
}

#btnCont {
    display: inline-block;
    width: 100%;
    margin-top: 1%;
}

#gameWindow, #tableDB {
    width: 100%;
    height: 100%;
    visibility: hidden;
    display: none;
}

/*--------------------------------- DIV Style END------------------------------------------------------*/

/*--------------------------------- Button Style Start------------------------------------------------------*/

.defaultBtn {
    background-color: white;
    border: 1px solid #c23616;
    color: #c23616;
    width: 300px;
    height: 35px;
    font-size: 1em;
    left: 30.5%;
    right: -30.5%;
    top: 40%;
}

.defaultBtn:hover {
    background-color: #c23616;
    color: white;
}

#btnBack, #btnBack2 {
    width: 100%;
    height: 35px;
    display: block;
    background-color: #c23616;
    position: initial;
    color: white;
}

#btnBack:hover, #btnBack2:hover {
    background-color: white;
    color: #c23616;
}

#btnTable {
    margin-left: 0.3%;
}

/*--------------------------------- Button Style End------------------------------------------------------*/

/*------------------------------Style for Table START-------------------------------------------------------------------*/
/*** Table Styles **/

.table-fill {
    text-align: center;
    background: white;
    border-radius: 3px;
    border-collapse: collapse;
    margin: auto;
    padding: 5px;
    width: 70%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
}

th {
    color: #D5DDE5;;
    background: #1b1e24;
    border-bottom: 4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size: 1.4em;
    text-align: center;
    font-weight: 100;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align: middle;
}

th:first-child {
    border-top-left-radius: 3px;
}

th:last-child {
    border-top-right-radius: 3px;
    border-right: none;
}

tr {
    border-top: 1px solid #C1C3D1;
    border-bottom-: 1px solid #C1C3D1;
    color: #666B85;
    font-size: 16px;
    font-weight: normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

tr:hover td {
    background: #4E5066;
    color: #FFFFFF;
    border-top: 1px solid #22262e;
}

tr:first-child {
    border-top: none;
}

tr:last-child {
    border-bottom: none;
}

tr:nth-child(odd) td {
    background: #EBEBEB;
}

tr:nth-child(odd):hover td {
    background: #4E5066;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 3px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 3px;
}

td {
    background: #FFFFFF;
    padding: 20px;
    vertical-align: middle;
    font-weight: 300;
    font-size: 18px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
}

td:last-child {
    border-right: 0px;
}

/*------------------------------Style for Table END-------------------------------------------------------------------*
